body {
    background-color: green;
}
h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

p {
    text-align: center;
    font-family: Cambria, Cochin,'Times New Roman', Georgia, Times, serif;
    font-weight: bold;
    font-size: 30px;
}
hr {
    border-color: black;
    color: black;
}